---
const faqQuestions = [
  {
    question: "Who can participate?",
    answer:
      "BRHacks is open to anyone! Whether you" +
      "re a freshman with no coding experience or a senior with a keen interest in technology, you are welcome to join. We encourage diversity and a mix of skills to create a dynamic and enriching experience for all participants.",
  },
  {
    question: "What is the deadline to apply for BRHacks?",
    answer:
      "Apply using the button at the top left!",
  },
  {
    question: "What if I'm not an experienced coder?",
    answer:
      "No problem! We have a No-Code track where you can take one of our prompts and implement it using Figma!",
  },
  {
    question: "Do I need a team to participate in BRHacks?",
    answer:
      "Yes, teams must consist of 2 to 5 members; Individual participation is not allowed due to devpost rules, and the events nature is not conducive to solo participation. However, we will be having a Team Formation Social to help you find potential teammates!",
  },
  {
    question: "Can I start working on my project before BRHacks begins?",
    answer:
      "No, all projects must be started and developed during BRHacks. Participants are expected to attend the opening session to learn of the tracks and corresponding prompts.",
  },
  {
    question: "Who should I contact if I have questions",
    answer:
      "You can reach out to the Exec Team through brhacks@uic.edu, or on Instagram @brhacksuic or LinkedIn - BRHacks",
  },
  {
    question: "Is BRHacks overnight?",
    answer:
      "Unfortunately, at this time we cannot offer an overnight Hackathon experience. You are welcome to continue hacking at home within the hacking period but we cannot provide facilities for sleeping on campus.",
  },
  {
    question: "How to find support during the hackathon?",
    answer:
      "Mentors will be available throughout BRHacks in person as well as through Discord to provide guidance, answer questions, and assist participants with technical challenges. You can reach out to a mentor at any time during BRHacks!",
  },
  {
    question: "How can I submit my project?",
    answer:
      "All submissions will be made through Devpost which is also how we will be keeping track of teams. There will be a session to familiarize yourself with how to submit your project through Devpost during the hackathon.",
  },
  {
    question: "How are the projects judged, and what are the criteria?",
    answer:
      "The Judging Criteria will be available within the HackPack. A panel of experienced judges from the industry along with faculty will evaluate the projects and determine the winners.",
  },
  {
    question: "What prizes are available for winners?",
    answer:
      "Prizes may vary, but typically winners will receive recognition as well as valuable tech gadgets. Prizes are track-specific and the list of prizes can be found in the HackPack.",
  },
  {
    question: "Where can I find BRHacks resources?",
    answer:
      "All BRHacks resources, including guidelines, resources to help you best prepare, and other relevant information, is currently available in the HackPack.",
  },
];

const newFaqQuestions = [
  {
    question: "Where is the Hackathon?",
    answer: "600 Garretson Road, Bridgewater, NJ, 08807",
  },
  {
    question: "Where should I register?",
    answer: "Coming soon!",
  },
  {
    question: "Is there a fee for participation?",
    answer: "No, everything (including food) is free, thanks to our wonderful sponsors.",
  },
  {
    question: "What can I learn?",
    answer: "We have a variety of events rich with content. These events include topics from computer science, business, psychology, and more. You can check out our events below on our website.",
  },
  {
    question: "Will there be food?",
    answer: "Yes! We will have snacks and drinks throughout the Hackathon. We will also serve lunch and dinner.",
  },
  {
    question: "Who can attend?",
    answer: "Any high schooler is free to join regardless of where you are.",
  },
  {
    question: "What prizes will there be?",
    answer: "To be decided, but they will be very well worth it!",
  },
  {
    question: "Do I need a team?",
    answer: "You are not required to have a team. We will have opportunities for you during the competition to network and form your own teams at the Hackathon.",
  },
  {
    question: "Can I participate if I am new to Hackathon?",
    answer: "Yes! We will have plenty of beginner-friendly events, workshops, and competitions for you to join.",
  },
  {
    question: "What should I bring?",
    answer: "Bring your computer, charger, snacks, and any other electronics you may need.",
  },
  {
    question: "When will the Hackathon be?",
    answer: "Fall of 2025",
  },
  {
    question: "What time does registration start?",
    answer: "Registration starts at 9AM.",
  },
];
---

<section
  class="w-max-[300px] flex flex-col content-center items-center justify-center bg-gradient-to-b from-[#091f3d] to-[#041d33] text-white pt-20 animate-fade-in"
  id="faq"
>
  <div class="flex place-content-center items-center px-[10%] pb-10">
    <h1 class="animate-bounce text-5xl mr-4">💬</h1>
    <h1 class="text-5xl font-bold text-center">FAQ</h1>
  </div>

  <div
    class="desktop:container px-[10%] desktop:px-[2%] md:flex-row flex flex-wrap justify-center"
  >
    {
      newFaqQuestions.map((faq) => (
        <div class="flex-start relative flex min-h-[100px] flex-col text-white">
          <div
            id="question"
            class="m-[15px] max-h-fit min-h-[100px] w-[250px] cursor-pointer content-center justify-center rounded-[20px] border-[2px] bg-[#165E6B] p-5 text-center font-bold"
          >
            {faq.question}
          </div>
          <div
            id="answer"
            class="m-[15px] hidden content-center justify-center bg-gradient-to-b from-[#2a5574] to-[#2b7d7d] text-center"
          >
            {faq.answer}
          </div>
        </div>
      ))
    }
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const questions = document.querySelectorAll("#question");

    questions.forEach((question) => {
      question.addEventListener("click", () => {
        const answer = question.nextElementSibling;

        if (answer) {
          answer.classList.toggle("hidden");
        }

        // Toggle a class on the question to rotate the arrow
        question.classList.toggle("expanded");
      });
    });
  });
</script>

<style>
@keyframes fade-in {
  0% { opacity: 0; transform: translateY(30px); }
  100% { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fade-in 1.2s ease;
}
  #question::after {
    position: relative;
    top: 5px;
    display: inline-block;
    background-size: 20px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("../../faq/dropdown.svg");
    transition: transform 0.3s ease;
  }

  #question.expanded::after {
    transform: rotate(180deg);
  }

  #question:active {
    position: relative;
    top: 5px;
  }

  .hidden {
    display: none;
  }

  #answer {
    background-color: #165e6b;
    width: 250px;
    min-height: 50px;
    border-radius: 20px;
    vertical-align: center;
    text-align: center;
    padding: 15px;
  }
</style>
