---

---

<footer
  class= "bg-gradient-to-b from-[#14183f] to-[#181642] pt-20"
>
  <div class="w-full relative overflow-x-hidden flex justify-center">
  <img src="/medicons/heart-nobg.svg" alt="heart" class="w-[120px] block"/>
  <img src="/medicons/pill-nobg.svg" alt="pill" class="w-[44px] absolute block top-[20%] left-[25%] animate-bob-sway-med"/>
  <img src="/medicons/pill-nobg.svg" alt="pill" class="w-[16px] absolute block top-[30%] right-[25%] animate-bob-sway-fast"/>
  </div>
  <div class="grid p-10 grid-flow-row grid-rows-3 tablet:grid-flow-col tablet:grid-cols-3 tablet:grid-rows-1 place-content-center items-center text-center text-white bg-[#0c0c0c] -mt-5">
    <div class="flex items-center justify-center">
  <img class="block w-[96px] rounded-full" src="/newlogo.png" alt="logo" />
    </div>
    <div>
  <div class="text-4xl font-extrabold text-purple-400 drop-shadow-lg">BRHacks 2025</div>
    </div>
    <div class="flex flex-col place-items-center">
      <p class="pb-2 font-semibold">Follow Us</p>
      <div class="flex flex-row gap-4">
        <a
          class="cursor-pointer"
          target="_blank"
          href="https://www.instagram.com/brhs.hacks/"
        >
          <img src="/instagram.png" class="w-6" />
        </a>
        <a
          class="cursor-pointer"
          target="_blank"
          href="https://github.com/anvayajmera/brhacks25"
        >
          <img src="/github.png" class="w-6" />
        </a>
        <a
          class="cursor-pointer"
          target="_blank"
          href="https://www.linkedin.com/company/brhs-hackathon/posts/?feedView=all"
        >
          <img src="/linkedin.png" class="w-6" />
        </a>
      </div>
    </div>
  </div>
</footer>
