---

import Sponsor from '../components/Sponsor';

---

<section class="w-full content-center text-white bg-gradient-to-b from-[#0a1b37] to-[#0c1b39]" id="sponsors">
  <h1 class="z-[1] flex w-full flex-row items-center justify-center gap-5 pt-20 text-5xl font-bold text-white md:flex-row mb-[40px]">
    Sponsors
    <div class="flex animate-bob-sway-med" id="pink-jelly"></div></div>
  </h1>
  <div class="h-fit w-auto flex flex-wrap justify-between mx-[15px] mb-[-80px]">
  <img class="sponsor-creature animate-bob-med block w-[96px]" src="/medicons/stethoscope-nobg.svg" />
  <img class="sponsor-creature animate-bob-sway-med block w-[96px]" src="/medicons/heart-nobg.svg" />
  <img class="sponsor-creature block w-[96px]" src="/medicons/pill-nobg.svg"/>
  <img class="sponsor-creature animate-bob-sway-med block w-[96px]" src="/medicons/medkit-nobg.svg"  />
  </div>
  <div class="w-full h-[318px] absolute z-0">
    <img src="/sponsors/banner.svg" class="size-full" />
  </div>
  <Sponsor client:load/>
  <div class="h-fit w-auto flex flex-wrap justify-between mx-[80px] mt-[-20px]">
  <img class="sponsor-creature animate-bob-sway-med block w-[96px]" src="/medicons/syringe-nobg.svg"  />
  <img class="sponsor-creature block w-[96px]" src="/medicons/bandage-nobg.svg"  />
  <img class="sponsor-creature animate-bob-sway-med block w-[96px]" src="/medicons/ambulance-nobg.svg"  />
  </div>  
</section>
  
<style>
#pink-jelly {
   background: url('../pinkjelly.svg'); 
   width: 75px;
   height: 75px;
   background-repeat: no-repeat;
   background-size: 75px;
   /* animation: swim 4s infinite; */
}

.sponsor-creature {
  position: relative;
  z-index: 1;
}
</style>
  