---
import { teamMembers } from "../data/teamMembers"
const heads = teamMembers.filter(m => m.title === 'Head');
const logistics = teamMembers.filter(m => m.title === 'Logistics');
const others = teamMembers.filter(m => !['Head','Logistics'].includes(m.title));
---

<section
  class="flex flex-col w-full items-center bg-gradient-to-b from-[#0c1a39] to-[#14183f] text-white"
>
<div class="flex place-content-center items-center px-[10%] pt-20">
  <h1 class="text-5xl font-bold text-center">Meet the Team</h1>
</div> 
  <div class="flex flex-wrap justify-center gap-7 px-[10%] mt-20">
    {heads.map(member => (
      <div class="w-[250px] flex flex-col items-center">
        <div class="relative h-[200px] w-[200px] bg-no-repeat bg-center bg-contain flex justify-center" style="background-image: url(/mediteam.svg)">
          <div class="w-[110px] h-[110px] rounded-full bg-cover bg-center mt-11 overflow-hidden shadow-[0_-3px_16px_4px_#f7f7f8]" style={`background-image: url(${member.image}) `}>
            <!-- linkedin removed per request -->
          </div>
        </div>
        <div class="text-center w-full mt-[8px]">
          <div class="text-[#ffe44e] text-[20px] font-bold ">{member.name || "Name"}</div>
          <div class="text-white text-[14px] ">{member.title || "Title"}</div>
        </div>
      </div>
    ))}
  </div>
  <div class="flex flex-wrap justify-center gap-y-7 px-[10%] mt-10 mb-20">
    {logistics.map(member => (
      <div class="w-[250px] flex flex-col items-center">
        <div class="relative h-[200px] w-[200px] bg-no-repeat bg-center bg-contain flex justify-center" style="background-image: url(/mediteam.svg)">
          <div class="w-[110px] h-[110px] rounded-full bg-cover bg-center mt-11 overflow-hidden shadow-[0_-3px_16px_4px_#f7f7f8]" style={`background-image: url(${member.image}) `}>
            <!-- linkedin removed per request -->
          </div>
        </div>
        <div class="text-center w-full mt-[8px]">
          <div class="text-white text-[18px] ">{member.name || "Name"}</div>
          <div class="text-white text-[14px] ">{member.title || "Title"}</div>
        </div>
      </div>
    ))}

    {others.map(member => (
      <div class="w-[250px] flex flex-col items-center">
        <div class="relative h-[200px] w-[200px] bg-no-repeat bg-center bg-contain flex justify-center" style="background-image: url(/mediteam.svg)">
          <div class="w-[110px] h-[110px] rounded-full bg-cover bg-center mt-11 overflow-hidden shadow-[0_-3px_16px_4px_#f7f7f8]" style={`background-image: url(${member.image}) `}>
            <!-- linkedin removed per request -->
          </div>
        </div>
        <div class="text-center w-full mt-[8px]">
          <div class="text-white text-[18px] ">{member.name || "Name"}</div>
          <div class="text-white text-[14px] ">{member.title || "Title"}</div>
        </div>
      </div>
    ))}
  </div>
</section>

