<div class="break-group sea-med">
  <div class="whale-group">
    <img class="whale" src="/medicons/stethoscope-nobg.svg" alt="stethoscope" />
    <img class="whale-robot" src="/medicons/heart-nobg.svg" alt="heart" />
  </div>
  <img class="right-rock" src="/medicons/pill-nobg.svg" alt="pill" />
</div>

<style>
  .break-group {
    position: relative;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .whale-group {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 60%;
  }

  .whale {
    position: relative;
    width: 40%;
    left: -4%;
  }

  .whale-robot {
    position: relative;
    width: 10%;
  }

  .right-rock {
    width: 25%;
    right: 5%;
  }

  /* sea-med polish */
  .sea-med img {
    filter: drop-shadow(0 6px 12px rgba(2,20,40,0.6)) saturate(1.1);
  }
</style>
  }
